{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    
    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'css/base-styles.css' %}">
    <link rel="icon" href="{% static 'assets/favicon.png' %}">
    
    <!-- External Libraries -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet">

    {% endblock %}
</head>
<body>
    <!-- Particles.js Background -->
    <div id="particles-js"></div>

    <!-- Header Section -->
    <header class="header">
        <div class="logo"><a href="#home">Patryk <span>Lickowski</span></a></div>
        <input type="checkbox" id="check"/>
        <label for="check" class="icons">
            <i class="ri-menu-line" id="menu-btn"></i>
            <i class='bx bx-x' id="close-btn"></i>
        </label>
        <nav class="navbar">
            <a href="#home" style="--i:0;">Home</a>
            <a href="#about" style="--i:1;">About Me</a>
            <a href="#projects" style="--i:2;">Projects</a>
            <a href="#contact" class="hire-btn" style="--i:3;">Hire Me</a> 
        </nav>
    </header>

    <!-- Main Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer Section -->
    <footer>
        <div class="footer-container">
            <p>Copyright <span>&copy;</span> 2024 Patryk Lickowski</p>
        </div>
    </footer>

    <!-- External JS Libraries -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    
    <!-- Static JS -->
    <script src="{% static 'js/base.js' %}"></script>

    <!-- Particles.js Initialization -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            particlesJS("particles-js", {
                particles: {
                    number: { value: 150, density: { enable: true, value_area: 2000 } },
                    color: { value: "#ffffff" },
                    shape: { type: "circle" },
                    opacity: { value: 0.3 },
                    size: { value: 3 },
                    move: { enable: true, speed: 2 },
                },
                retina_detect: true,
            });
        });
    </script>
</body>
</html>